#formLabel{
    color: brown;
    font-size: x-large;
    font-family: Arial;
  }
  #confirmDiv{
    padding: 7%;
  }
  #infoDiv{
    padding: 5%;
  }
  #filingStatusMainDiv{
    padding: 5%;
  }
  @media (max-width:400px){
    #filingStatusMainDiv{
      padding: 0%;
      height: 600px;
      width: 100%;
    }
    #confirmDiv{
      height: 600px;
      padding: 0%;
    }
    #infoDiv{
      padding: 0%;
      height: 1750px;
    }
    #nextBtn{
      width: 120px;
      
      font-size: x-small;
    }
    #manuallyBtn{
      font-size: x-small;

    }
    #backBtn{
      width: 110px;
      
      font-size: x-small;
    }

  }

  hr{
    padding-bottom: 1%;
  }
  #filingLabel{
    font-size: large;
    font-family: Arial;
    padding: 2%;
  }
  #backBtn{
    background-color: white;
    color: rgb(0, 102, 255);
    border: 1px solid rgb(0, 102, 255);;
  }
label{
    font-size: medium;
    font-family: Arial;
  }
  input[type=radio] {
    height:20px; 
    margin-top: -1px;
    margin-right: 7px;
    width:20px; 
    vertical-align: middle;
  }
  input[type=file]{
    color: rgb(0, 81, 255);
  }
  #confirmlb{
    color: rgb(39, 202, 80);
    margin-left: 5px;
    padding-top: 2%;
    font-size: x-large;
  }
  #heavyHr{
    border: none;
    height: 1px;
    margin-top: 2px;
    /* Set the hr color */
    color: rgb(180, 180, 180); /* old IE */
    background-color: rgb(180, 180, 180);
  }