
/*  MAIN DIVS FOR FORM PAGES  */

#confirmDiv{
  padding: 11%;
}
#chooseDiv{
  padding: 5%;
}
#infoDiv{
  padding: 6%;
  height: 1400px;
}
#filingStatusMainDiv{
  padding: 5%;
  height: 600px;
}
#dependentDiv{
  padding: 5%;
  height: 550px;
}
#dependentDivAsk{
  padding: 5%;
  height: 300px;
}
#spouseDiv{
  padding: 5%;
  height: 1050px;
}



.submitYesNoDiv{
  padding: 2%;
  
}


/* LABELS CSS -- CONFIRM PAGE & FILING PAGE */

#filingLabel{
  font-size: large;
  font-family: Arial;
  padding: 2%;
}
#formLabel{
  color: brown;
  font-size: x-large;
  font-family: Arial;
}
#confirmlb{
  color: rgb(39, 202, 80);
  margin-left: 5px;
  padding-top: 2%;
  font-size: x-large;
}
#confirmlb{
  font-size: large;
  text-transform: uppercase;
}
#confirmLabels{
  font-size: medium;
}
.confirmIdLabels{
  font-weight:bold;
  color:gray;
  margin-left:5px;
  padding-right:10px;
  font-size: 15px;
}
.confirmIdLabelsAnswer{
  font-weight:500;
  margin-left:5px;
  padding-right:10px;
  font-size: 15px;
}
#checkLabelTop2{
  padding-bottom: 10px;
}
.submitLabels{
  font-size: large;
  width: 100%;
}



/*  CHECKBOX LABELS & BUTTONS   */
#checkLabel{
  font-size: 15px;
  font-family:  sans-serif;
  width: 100%;
  padding-bottom: 10px;
}
#yesNo{
  margin-right: 7px;
}





/*  ----- HR CSS -----  */
hr{
  padding-bottom: 1%;
}
#heavyHr{
  border: none;
  height: 1px;
  margin-top: 2px;
  /* Set the hr color */
  color: rgb(180, 180, 180); /* old IE */
  background-color: rgb(180, 180, 180);
  
}




/*    BUTTON   */
.btn-primary{
  background-color: #706897;
  border: rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.btn-primary:focus{
  background-color: #706897;
  box-shadow: none !important;
}

.btn-primary:hover{
  background-color: #8d86af;
}

#backBtn{
  background-color: white;
  color:  #706897;
  border: 1px solid  #706897;
  float: left;
  width: 150px;
  font-size: medium;
}
#nextBtn{
  width: 180px;
  font-size: medium;
  float:right;
}
#confirmBtn{
  float: right;
  width: 120px;
  font-size: medium;
}
#yesBtn{
  float: right;
  margin-right: 5px;
  font-size: medium;
}
#submitY{
  width: 100px;
  margin-right: 5px;
  font-size: medium;
}



/*  INPUT  - RADIO & FILE  */
input[type=radio] {
  height:20px; 
  margin-top: -1px;
  margin-right: 7px;
  width:20px; 
  vertical-align: middle;
}
input[type=file]{
  color: rgb(0, 81, 255);
}




/*  SCREEN RESPONSIVE BEGINS .350 - 450 - 780  */



@media (max-width:780px){
  

  /* ADJUST TO SCREEN 780px MAX WIDTH*/
  /* LABELS  */
  #yesNo{
    margin-right: 7px;
  }
  #checkLabel{
    font-size: 15px;
    font-family:  sans-serif;
    width: 100%;
    padding-bottom: 10px;
  }
  .chooseLabels{
   font-size: medium; 
  }
  .taxPayerLabels{
    font-size: 13px;
  }
  #confirmlb{
    font-size: large;
    text-transform: uppercase;
  }
  #confirmLabels{
    font-size: medium;
  }
  .confirmIdLabels{
    font-weight:bold;
    color:gray;
    margin-left:5px;
    padding-right:10px;
    font-size: 15px;
  }
  .confirmIdLabelsAnswer{
    font-weight:500;
    margin-left:5px;
    padding-right:10px;
    font-size: 15px;
  }
  #checkLabelTop2{
    margin-left: 10px;
  }
  




  /* INPUT */
  .taxInput{
    width: 150px !important;
    position: relative;
    margin-right: 15px;
    padding-bottom: 50px;
    height: 30px !important;
  }
  .taxInput3{
    width: 150px !important;
    position: relative;
    margin-right: 15px;
    height: 30px !important;
  }
  .taxInput2{
    margin-right: 23px;
  }

  /* MAIN DIVS */
  #filingStatusMainDiv{
    padding: 0%;
    height: 500px;
    width: 100%;
  }
  #chooseDiv{
    padding: 0%;
    height: 250px;
  }
  #confirmDiv{

    padding: 11%;
  }
  #infoDiv{
    padding: 0%;
    height: 1300px;
  }
  



  /* BUTTONS */
  #nextBtn{
    width: 180px;
    font-size: medium;
    margin-top: 0% !important;
    float:right;
  }
  #confirmBtn{
    float: right;
    width: 120px;
    font-size: medium;
  }
  #yesBtn{
    float: right;
    margin-right: 5px;
    font-size: medium;
  }
  #manuallyBtn{
    font-size: x-small;
  }
  #backBtn{
    float: left;
    width: 150px;
    margin-top: 0% !important;
    font-size: medium;
  }
  #submitY{
    width: 90%;
    margin-top: 5px;
    font-size: medium;
  }
  
}/* END OF 780px MAX WIDTH */





@media (max-width:600px){
  

  /* ADJUST TO SCREEN 450px MAX WIDTH*/
  /* LABELS  */
  #formLabel{
    color: brown;
    font-family: Arial;
  }
  #yesNo{
    margin-right: 7px;
  }
  #checkLabel{
    font-size: 15px;
    font-family:  sans-serif;
    width: 100%;
    padding-bottom: 10px;
  }
  .chooseLabels{
   font-size: medium; 
  }
  .taxPayerLabels{
    font-size: 14px;
  }

  #confirmlb{
    font-size: medium;
    text-transform: uppercase;
  }
  #confirmLabels{
    font-size: small;
  }
  .confirmIdLabels{
    font-weight:bold;
    color:gray;
    margin-left:5px;
    padding-right:10px;
    font-size: 13px;
  }
  .confirmIdLabelsAnswer{
    font-weight:500;
    margin-left:5px;
    padding-right:10px;
    font-size: 13px;
  }


  /* INPUT */
  .taxInput{
    width: 100% !important;
    position: relative;
    margin-right: 15px;
    padding-bottom: 50px;
    height: 30px !important;
  }
  .taxInput3{
    width: 100% !important;
    position: relative;
    margin-right: 15px;
    height: 30px !important;
  }
  .taxInput2{
    margin-right: 23px;
  }



  /* MAIN DIVS */
  #filingStatusMainDiv{
    padding: 0%;
    height: 550px;
    width: 100%;
  }
  #chooseDiv{
    padding: 0%;
    height: 300px;
  }
  #confirmDiv{
    padding: 10%;
  }
  #infoDiv{
    padding: 0%;
    height: 1700px;
  }
  #dependentDiv{
    height: 770px;
  }
  #spouseDiv{
    height: 1260px;
  }
  #dependentDivAsk{
    height: 450px;
  }
  


  /* BUTTONS */
  #nextBtn{
    width: 95%;
    margin-top: 3% !important;
    margin-left: 2%;
    float: none;
    font-size: medium;
  }
  #confirmBtn{
    width: 95%;
    margin-top: 5%;
    margin-left: 2%;
    float: none !important;
    font-size: medium;

  }
  #yesBtn{
    margin-top: 5% !important;
    margin-left: 2%;
    width: 95%;
    float: none;
    font-size: medium;
  }
  #manuallyBtn{
    width: 100%;
    font-size: medium;
  }
  #backBtn{
     width: 95%;
     margin-top: 3% !important;
     margin-left: 2%;
     float: none;
    font-size: medium;
  }
}/* END OF 600px MAX WIDTH */






@media (max-width:450px){
  

    /* ADJUST TO SCREEN 450px MAX WIDTH*/
    /* LABELS  */
    #formLabel{
      color: brown;
      font-family: Arial;
    }
    #yesNo{
      margin-right: 7px;
    }
    #checkLabel{
      font-size: 15px;
      font-family:  sans-serif;
      width: 100%;
      padding-bottom: 10px;
    }
    .chooseLabels{
     font-size: medium; 
    }
    .taxPayerLabels{
      font-size: 14px;
    }
    #confirmlb{
      font-size: medium;
      text-transform: uppercase;
    }
    #confirmLabels{
      font-size: small;
    }
    .confirmIdLabels{
      font-weight:bold;
      color:gray;
      margin-left:5px;
      padding-right:10px;
      font-size: 13px;
    }
    .confirmIdLabelsAnswer{
      font-weight:500;
      margin-left:5px;
      padding-right:10px;
      font-size: 13px;
    }






    /* INPUT */
    .taxInput{
      width: 100% !important;
      position: relative;
      margin-right: 15px;
      padding-bottom: 50px;
      height: 30px !important;
    }
    .taxInput3{
      width: 100% !important;
      position: relative;
      margin-right: 15px;
      height: 30px !important;
    }
    .taxInput2{
      margin-right: 23px;
    }



    /* MAIN DIVS */
    #filingStatusMainDiv{
      padding: 0%;
      height: 550px;
      width: 100%;
    }
    #chooseDiv{
      padding: 0%;
      height: 300px;
    }
    #confirmDiv{
      padding: 10%;
    }
    #infoDiv{
      padding: 0%;
      height: 1700px;
    }
    #dependentDiv{
      height: 760px;
    }
    #spouseDiv{
      height: 1270px;
    }
    #dependentDivAsk{
      height: 450px;
    }
    
    


    /* BUTTONS */
    #nextBtn{
      width: 95%;
      margin-top: 5% !important;
      margin-left: 2%;
      font-size: medium;
      float: none;
    }
    #confirmBtn{
      width: 95%;
      margin-top: 5%;
      margin-left: 2%;
      float: none;
      font-size: medium;

    }
    #yesBtn{
      margin-top: 5% !important;
      margin-left: 2%;
      width: 95%;
      float: none;
      font-size: medium;
    }
    #manuallyBtn{
      width: 100%;
      font-size: medium;
    }
    #backBtn{
       width: 95%;
       margin-top: 5% !important;
       margin-left: 2%;
      font-size: medium;
      float: none;
    }

}/* END OF 450px MAX WIDTH */


@media (max-width:350px){

     /* ADJUST TO SCREEN 350px MAX WIDTH*/
    /* LABELS  */
    #formLabel{
      color: brown;
      font-family: Arial;  
      font-size: large;  
      margin-top: 10px
    }
    #yesNo{
      margin-right: 7px;
    }

    #checkLabel{
      font-size: 14px;
      font-family: Arial;
      width: 100%;
      padding-bottom: 10px;
    }
    .chooseLabels{
     font-size: small; 
    }
    .taxPayerLabels{
      font-size: 13px;
    }
    #filingStatusRadioLabels{
      font-size: 13px;
    }
    #filingLabel{
      font-size: 15px;
    }
    #confirmlb{
      font-size: medium;
      text-transform: uppercase;
    }
    #confirmLabels{
      font-size: small;
    }
    .confirmIdLabels{
      font-weight:bold;
      color:gray;
      margin-left:5px;
      padding-right:10px;
      font-size: 11px;
    }
    .confirmIdLabelsAnswer{
      font-weight:500;
      margin-left:5px;
      padding-right:10px;
      font-size: 11px;
    }




    /*INPUTS*/
    .taxInput{
      width: 100%!important;
      position: relative;
      margin-right: 15px;
      padding-bottom: 50px;
      height: 30px !important;
    }
    .taxInput3{
      width: 100%!important;
      position: relative;
      margin-right: 15px;
      height: 30px !important;
    }
    .taxInput2{
      margin-right: 23px;
    }




    /*MAIN DIVS*/
    #filingStatusMainDiv{
      padding: 0%;
      height: 550px;
      width: 100%;
    }
    #chooseDiv{
      padding: 0%;
      height: 250px;
    }
    #confirmDiv{
      padding:10%;
    }
    #infoDiv{
      padding: 0%;
      height: 1650px;
    }
    #spouseDiv{
      height: 1230px ;
    }
    #dependentDiv{
      height: 750px;
    }
    #dependentDivAsk{
      height: 400px;
    }


    /* BUTTONS */
    #nextBtn{
      width: 95%;
      margin-top: 5% !important;
      margin-left: 2%;
      float: none;
      font-size: small;
    }
    #confirmBtn{
      width: 95%;
      margin-top: 5%;
      margin-left: 2%;
      float: none;
      font-size: small;

    }
    #yesBtn{
      margin-top: 5% !important;
      margin-left: 2%;
      width: 95%;
      float: none;
      font-size: small;
    }
    #manuallyBtn{
      width: 100%;
      font-size: small;
    }
    #backBtn{
       width: 95%;
       margin-top: 5% !important;
       margin-left: 2%;
      font-size: small;
      float: none;
    }


}/*END OF 350px MAX WIDTH*/
   
