
/*  MAIN DIVS FOR FORM PAGES  */

#confirmDiv{
  padding: 7%;
}
#chooseDiv{
  padding: 5%;
}
#infoDiv{
  padding: 6%;
  height: 1400px;
}
#filingStatusMainDiv{
  padding: 5%;
  height: 600px;
}
#dependentDiv{
  height: 550px;
}
#dependentDivAsk{
  height: 300px;
}
#spouseDiv{
  height: 1050px;
}



/* LABELS CSS -- CONFIRM PAGE & FILING PAGE */

#filingLabel{
  font-size: large;
  font-family: Arial;
  padding: 2%;
}
#formLabel{
  color: brown;
  font-size: x-large;
  font-family: Arial;
}
#confirmlb{
  color: rgb(39, 202, 80);
  margin-left: 5px;
  padding-top: 2%;
  font-size: x-large;
}
#confirmlb{
  font-size: large;
  text-transform: uppercase;
}
#confirmLabels{
  font-size: medium;
}
.confirmIdLabels{
  font-weight:bold;
  color:gray;
  margin-left:5px;
  padding-right:10px;
  font-size: 15px;
}
.confirmIdLabelsAnswer{
  font-weight:500;
  margin-left:5px;
  padding-right:10px;
  font-size: 15px;
}
#agreeCheckboxLabel{
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  font-size: 13px;
}




/*  CHECKBOX LABELS & BUTTONS   */
#checkLabel{
  font-size: 15px;
  font-family:  sans-serif;
  width: 100%;
  padding-bottom: 10px;
}
#yesNo{
  margin-right: 7px;
}





/*  ----- HR CSS -----  */
hr{
  padding-bottom: 1%;
}
#heavyHr{
  border: none;
  height: 1px;
  margin-top: 2px;
  /* Set the hr color */
  color: rgb(180, 180, 180); /* old IE */
  background-color: rgb(180, 180, 180);
}




/*   <-- PREV PAGE BUTTON   */
#backBtn{
  background-color: white;
  color: rgb(0, 102, 255);
  border: 1px solid rgb(0, 102, 255);;
}


/*  INPUT  - RADIO & FILE  */
input[type=radio] {
  height:20px; 
  margin-top: -1px;
  margin-right: 7px;
  width:20px; 
  vertical-align: middle;
}
input[type=file]{
  color: rgb(0, 81, 255);
}
#agreeCheckbox{
  width: 16px;
  height: 16px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  right: 2px;
 
}



/*  SCREEN RESPONSIVE BEGINS .350 - 450 - 780  */



@media (max-width:780px){
  

  /* ADJUST TO SCREEN 780px MAX WIDTH*/
  /* LABELS  */
  #yesNo{
    margin-right: 7px;
  }
  #checkLabel{
    font-size: 15px;
    font-family:  sans-serif;
    width: 100%;
    padding-bottom: 10px;
  }
  .chooseLabels{
   font-size: medium; 
  }
  .taxPayerLabels{
    font-size: 13px;
  }
  #confirmlb{
    font-size: large;
    text-transform: uppercase;
  }
  #confirmLabels{
    font-size: medium;
  }
  .confirmIdLabels{
    font-weight:bold;
    color:gray;
    margin-left:5px;
    padding-right:10px;
    font-size: 15px;
  }
  .confirmIdLabelsAnswer{
    font-weight:500;
    margin-left:5px;
    padding-right:10px;
    font-size: 15px;
  }




  /* INPUT */
  .taxInput{
    width: 150px !important;
    position: relative;
    margin-right: 15px;
    padding-bottom: 50px;
    height: 30px !important;
  }
  .taxInput3{
    width: 150px !important;
    position: relative;
    margin-right: 15px;
    height: 30px !important;
  }
  .taxInput2{
    margin-right: 23px;
  }

  #agreeCheckboxLabel{
    display: block;
    padding-left: 15px;
    text-indent: -15px;
    font-size: 13px;
  }
  #agreeCheckbox{
    width: 16px;
    height: 16px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    right: 2px;
   
  }

  /* MAIN DIVS */
  #filingStatusMainDiv{
    padding: 0%;
    height: 500px;
    width: 100%;
  }
  #chooseDiv{
    padding: 0%;
    height: 250px;
  }
  #confirmDiv{

    padding: 10%;
  }
  #infoDiv{
    padding: 0%;
    height: 1300px;
  }



  /* BUTTONS */
  #nextBtn{
    width: 180px;
    font-size: medium;
  }
  #confirmBtn{
    font-size: medium;
  }
  #noContinue{
    font-size: x-small;
  }
  #manuallyBtn{
    font-size: x-small;
  }
  #backBtn{
    width: 150px;
    font-size: medium;
  }
}/* END OF 780px MAX WIDTH */





@media (max-width:600px){
  

  /* ADJUST TO SCREEN 450px MAX WIDTH*/
  /* LABELS  */
  #formLabel{
    color: brown;
    font-family: Arial;
  }
  #yesNo{
    margin-right: 7px;
  }
  #checkLabel{
    font-size: 15px;
    font-family:  sans-serif;
    width: 100%;
    padding-bottom: 10px;
  }
  .chooseLabels{
   font-size: small; 
  }
  .taxPayerLabels{
    font-size: 14px;
  }

  #agreeCheckboxLabel{
    display: block;
    padding-left: 15px;
    text-indent: -15px;
    font-size: 12px;
  }
  #agreeCheckbox{
    width: 15px;
    height: 15px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    right: 2px;
   
  }

  #confirmlb{
    font-size: medium;
    text-transform: uppercase;
  }
  #confirmLabels{
    font-size: small;
  }
  .confirmIdLabels{
    font-weight:bold;
    color:gray;
    margin-left:5px;
    padding-right:10px;
    font-size: 13px;
  }
  .confirmIdLabelsAnswer{
    font-weight:500;
    margin-left:5px;
    padding-right:10px;
    font-size: 13px;
  }


  /* INPUT */
  .taxInput{
    width: 100% !important;
    position: relative;
    margin-right: 15px;
    padding-bottom: 50px;
    height: 30px !important;
  }
  .taxInput3{
    width: 100% !important;
    position: relative;
    margin-right: 15px;
    height: 30px !important;
  }
  .taxInput2{
    margin-right: 23px;
  }



  /* MAIN DIVS */
  #filingStatusMainDiv{
    padding: 0%;
    height: 500px;
    width: 100%;
  }
  #chooseDiv{
    padding: 0%;
    height: 250px;
  }
  #confirmDiv{
    padding: 15%;
  }
  #infoDiv{
    padding: 0%;
    height: 1650px;
  }
  #dependentDiv{
    height: 700px;
  }
  #spouseDiv{
    height: 1150px;
  }
  


  /* BUTTONS */
  #nextBtn{
    width: 140px;
    font-size: small;
  }
  #confirmBtn{
    font-size: small;
  }
  #noContinue{
    font-size: x-small;
  }
  #manuallyBtn{
    font-size: x-small;
  }
  #backBtn{
    width: 120px;
    font-size: small;
  }
}/* END OF 600px MAX WIDTH */






@media (max-width:450px){
  

    /* ADJUST TO SCREEN 450px MAX WIDTH*/
    /* LABELS  */
    #formLabel{
      color: brown;
      font-family: Arial;
    }
    #yesNo{
      margin-right: 7px;
    }
    #checkLabel{
      font-size: 15px;
      font-family:  sans-serif;
      width: 100%;
      padding-bottom: 10px;
    }
    .chooseLabels{
     font-size: small; 
    }
    .taxPayerLabels{
      font-size: 14px;
    }
    #confirmlb{
      font-size: medium;
      text-transform: uppercase;
    }
    #confirmLabels{
      font-size: small;
    }
    .confirmIdLabels{
      font-weight:bold;
      color:gray;
      margin-left:5px;
      padding-right:10px;
      font-size: 13px;
    }
    .confirmIdLabelsAnswer{
      font-weight:500;
      margin-left:5px;
      padding-right:10px;
      font-size: 13px;
    }
    #agreeCheckboxLabel{
      display: block;
      padding-left: 15px;
      text-indent: -15px;
      font-size: 11px;
    }
    #agreeCheckbox{
      width: 13px;
      height: 13px;
      padding: 0;
      margin:0;
      vertical-align: bottom;
      position: relative;
      top: -1px;
      right: 2px;
     
    }







    /* INPUT */
    .taxInput{
      width: 100% !important;
      position: relative;
      margin-right: 15px;
      padding-bottom: 50px;
      height: 30px !important;
    }
    .taxInput3{
      width: 100% !important;
      position: relative;
      margin-right: 15px;
      height: 30px !important;
    }
    .taxInput2{
      margin-right: 23px;
    }



    /* MAIN DIVS */
    #filingStatusMainDiv{
      padding: 0%;
      height: 500px;
      width: 100%;
    }
    #chooseDiv{
      padding: 0%;
      height: 250px;
    }
    #confirmDiv{
      padding: 15%;
    }
    #infoDiv{
      padding: 0%;
      height: 1650px;
    }
    #dependentDiv{
      height: 700px;
    }
    #spouseDiv{
      height: 1200px;
    }
    


    /* BUTTONS */
    #nextBtn{
      width: 140px;
      font-size: small;
    }
    #confirmBtn{
      font-size: small;
    }
    #noContinue{
      font-size: x-small;
    }
    #manuallyBtn{
      font-size: x-small;
    }
    #backBtn{
      width: 120px;
      font-size: small;
    }
}/* END OF 450px MAX WIDTH */


@media (max-width:350px){

     /* ADJUST TO SCREEN 350px MAX WIDTH*/
    /* LABELS  */
    #formLabel{
      color: brown;
      font-family: Arial;  
      font-size: large;  
      margin-top: 10px
    }
    #yesNo{
      margin-right: 7px;
    }
    #agreeCheckboxLabel{
      display: block;
      padding-left: 15px;
      text-indent: -15px;
      font-size: 11px;
    }
    #agreeCheckbox{
      width: 13px;
      height: 13px;
      padding: 0;
      margin:0;
      vertical-align: bottom;
      position: relative;
      top: -1px;
      right: 2px;
     
    }
    #checkLabel{
      font-size: 14px;
      font-family: Arial;
      width: 100%;
      padding-bottom: 10px;
    }
    .chooseLabels{
     font-size: small; 
    }
    .taxPayerLabels{
      font-size: 13px;
    }
    #filingStatusRadioLabels{
      font-size: 13px;
    }
    #filingLabel{
      font-size: 15px;
    }
    #confirmlb{
      font-size: medium;
      text-transform: uppercase;
    }
    #confirmLabels{
      font-size: small;
    }
    .confirmIdLabels{
      font-weight:bold;
      color:gray;
      margin-left:5px;
      padding-right:10px;
      font-size: 11px;
    }
    .confirmIdLabelsAnswer{
      font-weight:500;
      margin-left:5px;
      padding-right:10px;
      font-size: 11px;
    }




    /*INPUTS*/
    .taxInput{
      width: 100%!important;
      position: relative;
      margin-right: 15px;
      padding-bottom: 50px;
      height: 30px !important;
    }
    .taxInput3{
      width: 100%!important;
      position: relative;
      margin-right: 15px;
      height: 30px !important;
    }
    .taxInput2{
      margin-right: 23px;
    }




    /*MAIN DIVS*/
    #filingStatusMainDiv{
      padding: 0%;
      height: 500px;
      width: 100%;
    }
    #chooseDiv{
      padding: 0%;
      height: 250px;
    }
    #confirmDiv{
      padding:14%;
    }
    #infoDiv{
      padding: 0%;
      height: 1600px;
    }



    /* BUTTONS */
    #nextBtn{
      width: 115px;
      font-size: x-small;
    }
    #confirmBtn{
      font-size: xx-small;

    }
    #noContinue{
      font-size: x-small;
    }
    #manuallyBtn{
      font-size: x-small;
    }
    #backBtn{
      width: 100px;
      font-size: x-small;
    }


}/*END OF 350px MAX WIDTH*/
   
