*:not(i){
  font-family: 'Roboto', sans-serif !important;
}

body {
  padding: 10px 10px 50px 10px;
  background-color: transparent !important; 
  background-image: url('https://i.pinimg.com/originals/7a/b6/55/7ab655f6d89936e9b2f1f8635723bee9.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  min-height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-container{
  box-shadow: none !important;
  background-color: transparent !important;
  font-family: 'Roboto', sans-serif;
  margin-top: 50px;
}

#formLabel{
  max-width: 700px !important;
  margin: auto;
  font-size: 35px !important;
  color:  #525252 !important;
}

#formSubLabel{
  max-width: 700px !important;
  margin: 0px auto 30px auto;
  font-size: 16px !important;
  color:  #525252 !important;
}

.manuallyBtn{
  width: 100%;
  font-size: 20px !important;
  font-weight: 500 !important;
  border: 1px solid #525252 !important;
  color: #525252 !important;
}

.manuallyBtn:hover:not(.transparent){
  background-color: #525252 !important;
  color: white !important;
}

.transparent{
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
  color: #525252 !important;
  font-weight: 600 !important;
}

hr{
  border-color:  #525252 !important;
}
